// Фоновые цвета
$bg-primary: #F4F6F5;
$bg-secondary: #E1EDE6;

// Цвета текста
$text-primary: #2C2D35;
$text-secondary: #86928B;
$text-accent: #598D66;
$text-contrast: #FFFFFF;
$text-active: #376B44;

// Прочие переменные
$container-width: 1110px;
