@import 'variables';

@import 
'blocks/header',
'blocks/main',
'blocks/catalog',
'blocks/promo',
'blocks/about',
'blocks/footer';

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, ul, li {
    text-decoration: none;
}

body {
    max-width: 1440px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.primary-btn {
    color: $text-accent;
    border: 1px solid $text-accent;
    background-color: $text-contrast;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 227px;
    height: 63px;
  
    &:hover {
      background-color: $text-accent;
      color: $bg-primary;
    }
  
    &:focus {
      background-color: lighten($text-accent, 30%);
      color: $text-accent;
      border-color: $text-accent;
    }
  
    &:active {
      background-color: darken($text-accent, 20%);
      color: $text-contrast;
    }
  }

  .promo-btn {
    background-color: #EEDB6D;
    color: $text-primary;
    width: 227px;
    height: 63px;
  
    &:hover {
      background-color: #FAEB97;
      color: $text-primary;
    }
  
    &:focus {
      background-color: #FAEB97;
      color: $text-primary;
      border: 1px solid #A38314;
    }
  
    &:active {
      background-color: #D9B949;
      color: $text-primary;
    }
  }

  .tab-btn {
    background-color: lighten($text-accent, 30%);
    color: $text-primary;
    width: 126px;
    height: 43px;
    border-radius: 20px;
  
    &:hover {
      background-color: $text-accent;
      color: $bg-primary;
    }
  
    &:focus {
      background-color: lighten($text-accent, 30%);
      color: $text-primary;
      border: 1px solid $text-accent;
    }
  
    &:active {
      background-color: darken($text-accent, 20%);
      color: $bg-primary;
    }
  }

  .icon {
    color: $text-primary;
  
    &:hover {
      color: $text-accent;
    }
  
    &:focus {
      color: $text-accent;
      background-color: lighten($text-accent, 30%);
    }
  
    &:active {
      color: darken($text-accent, 20%);
    }
  }
        