// _header.scss
@import '../variables'; 

.container {
  width: $container-width;
  margin: 0 auto;
}

.header {
  background-color: $bg-secondary;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box; /* Учитываем отступы внутри элемента */
}

.logo-link img {
  max-width: 100%;
  height: auto;
}

.divider {
  display: none; /* Скрываем линию по умолчанию */
}
.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 20px; /* Расстояние между элементами */
}

.nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link {
  color: $text-primary;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  
  &:hover {
    color: $text-accent;
  }
}

.cart-icon {
  width: 24px; /* Устанавливаем ширину для иконки корзины */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}

.burger {
  display: none; /* Скрываем бургер по умолчанию */
  width: 24px;
  height: 24px;
  background-size: contain;
}
.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 73px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $bg-secondary; /* Регулируйте по необходимости */
  padding: 20px;
  z-index: 1000;
  
  .nav-link {
    margin-bottom: 50px;
    font-size: 18px;
  }

  .close-btn {
    font-size: 24px;
    align-self: flex-start;
    margin-bottom: 30px;
    cursor: pointer;
    display: none; /* Изначально скрываем иконку */
  }
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.visible .close-btn {
  display: block; /* Показываем иконку при открытии меню */
}



@media (max-width: 1280px) {
  .container {
    width: 95%; // Уменьшаем ширину контейнера для экранов 1280px
  }

  .header-wrapper {
    padding: 20px 0; // Отступы остаются прежними для экранов 1280px
  }

  .logo {
    font-size: 22px; // Уменьшаем размер шрифта для логотипа
  }

  .nav {
    gap: 25px; // Уменьшаем отступы между ссылками
  }

  .nav-link {
    font-size: 18px; // Уменьшаем размер шрифта для ссылок
  }
}

@media (max-width: 1024px) {
  .container {
    width: 90%; // Уменьшаем ширину контейнера для экранов 1024px
  }

  .header-wrapper {
    padding: 20px 0; // Отступы остаются прежними для экранов 1024px
  }

  .logo {
    font-size: 22px; // Уменьшаем размер шрифта для логотипа
  }

  .nav {
    gap: 25px; // Уменьшаем отступы между ссылками
  }

  .nav-link {
    font-size: 18px; // Уменьшаем размер шрифта для ссылок
  }
}

@media (max-width: 920px) {
  .container {
    width: 85%; // Уменьшаем ширину контейнера для экранов 920px
  }

  .header-wrapper {
    padding: 15px 0; // Уменьшаем отступы для экранов 920px
  }

  .logo {
    font-size: 20px; // Уменьшаем размер шрифта для логотипа
  }

  .nav {
    gap: 20px; // Уменьшаем отступы между ссылками
  }

  .nav-link {
    font-size: 18px; // Уменьшаем размер шрифта для ссылок
  }
}

@media (max-width: 690px) {
  .container {
    width: 80%; // Уменьшаем ширину контейнера для экранов 690px
  }

  .header-wrapper {
    padding: 10px 0; // Уменьшаем отступы для экранов 690px
  }

  .logo {
    font-size: 18px; // Уменьшаем размер шрифта для логотипа
  }

  .nav {
    gap: 15px; // Уменьшаем отступы между ссылками
  }

  .nav-link {
    font-size: 18px; // Уменьшаем размер шрифта для ссылок
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 510px;
    margin: 0 auto;
  }

  .header-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }

  .logo {
    width: 100%;
    text-align: center;
}

  .divider {
    display: block; // Делаем линию видимой
    width: 100%;
    height: 1px;
    background-color: #C3D1C6;
    margin: 10px 0;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative; // Для абсолютного позиционирования корзины
  }

  .nav-link {
    color: $text-primary;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    
    &:hover {
      color: $text-accent;
    }
  }
}
@media (max-width: 380px) {
  .header {
    background-color: #fff;
  }
  .container {
    width: 100%;
    margin: 0 auto;
}

  .header-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0; /* Отступы сверху и снизу */
}
  .divider {
    display: none; // Скрываем линию по умолчанию
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: $bg-secondary;
    width: 100%;
    padding: 16px 15px;
  }
  .nav {
      display: none; /* Скрываем навигацию */
  }

  .cart-icon {
    right: 0;
      width: 24px; /* Устанавливаем ширину для иконки корзины */
      height: auto; /* Автоматическая высота для сохранения пропорций */
  }

  .cart {
      display: block; /* Убеждаемся, что корзинка отображается */
  }

  .burger {
      display: block; /* Показываем бургер на малых экранах */
  }
}
