@import '../variables'; 

$content-wrapper-width: 1110px;
.promo {
  background-image: url("../img/promo-bg.png"); // Replace with the correct path to your background image
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  color: #FFFFFF;

  .content-wrapper {
    display: flex;
    max-width: $content-wrapper-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  .promo-content {
    text-align: left;
    max-width: 600px;

    .promo-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .promo-icon {
        width: 100px;
        margin-right: 15px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .promo-title {
        font-size: 40px;
      }
    }

    .promo-description {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 60px;
    }

    .promo-btn {
      display: inline-block;
      width: 257px;
      height: 65px;
      background-color: #EEDB6D;
      color: $text-primary;
      text-align: center;
      line-height: 63px; /* Vertically center the text */
      font-size: 20px;
      font-weight: 500;
      text-decoration: none;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #FAEB97;
        color: $text-primary;
      }

      &:focus {
        background-color: #FAEB97;
        color: $text-primary;
        border: 1px solid #A38314;
      }

      &:active {
        background-color: #D9B949;
        color: $text-primary;
      }
    }
  }
}
